# dependencies
/node_modules
/.pnp
.pnp.js
/venv
__pycache__/
*.pyc

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ensure ML model artifact & datasets are tracked
!datasets/credit_risk_pipeline.joblib
!datasets/model_metrics_and_features.json
